<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AbsenceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="DynamicData/Content/Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <membership defaultProvider="AMMembershipProvider" userIsOnlineTimeWindow="40">
      <providers>
        <add name="AMMembershipProvider" type="AbsenceManager.AMMembershipProvider" connectionStringName="AMSecurity" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" />
      </providers>
    </membership>
    <roleManager defaultProvider="AMRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="40" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="AMRoleProvider" type="AbsenceManager.AMRoleProvider" connectionStringName="AMSecurity" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey validationKey="53BEFDA35FDE3719A5BDA6F692E007E22E6D2329F0BF03A50BE8A2BFD01A828CE9D7ABED56BBA625C9F6889C5D777972B2B3B6B30D9FC0A4EB54B624EBB631BC" decryptionKey="A894BC85393F6DBF7D314EB24797E70FF044D0B155B297DBCFD46A21D5DF24B1" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="AMSecurity" connectionString="Data Source=ASUS-DSKT\SQL_EXPRESS;Initial Catalog=SOCIE_GEST;Persist Security Info=True;Async=True;" providerName="System.Data.SqlClient" />
    <!--<add name="AMEntities" connectionString="metadata=res://*/AMEntities.csdl|res://*/AMEntities.ssdl|res://*/AMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Ricardo-PC\SQL_EXPRESS;Initial Catalog=SOCIE_GEST;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SOCIE_GESTEntities" connectionString="metadata=res://*/AMEntities.csdl|res://*/AMEntities.ssdl|res://*/AMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RICARDO-PC\SQL_EXPRESS;Initial Catalog=SOCIE_GEST;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AM_Entities" connectionString="metadata=res://*/AMEntities.csdl|res://*/AMEntities.ssdl|res://*/AMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ASUS-DSKT\SQL_EXPRESS;Initial Catalog=SOCIE_GEST;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Search-AusenciaFuncionario" value="Observacoes" />
    <add key="Search-FeriasFuncionario" value="Observacoes" />
    <add key="Search-HorasFuncionario" value="Observacoes" />
    <add key="Search-FuncionarioHorasFuncionario" value="NrHoras" />
    <add key="Search-Departamentos" value="Nome, Descricao" />
    <add key="Search-Role" value="Role1, Description" />
    <add key="Search-TrackUser" value="Alteração,ValorAntigo,ValorNovo,AlteradoPor" />
    <add key="Search-TrackAusenciaFuncionario" value="FieldName,OldValue,NewValue" />
    <add key="Search-TrackFeriasFuncionario" value="FieldName,OldValue,NewValue" />
    <add key="Search-TrackHorasFuncionario" value="FieldName,OldValue,NewValue" />
    <add key="Search-User" value="Nome, Username" />
    <add key="SpecialScreens" value="Marcação Férias,Mapa Presenças,Aprovação Férias,Marcação Ausências" />
    <add key="TipoAusenciaInjust" value="Injustificada" />
    <add key="GreaterThanFilterTrackUser" value="Today" />
  </appSettings>
</configuration>